@import url("https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: #1a1b33;
  }
}

@layer utilities {
  .archBackground {
    @apply rounded-tl-[150px] rounded-tr-[150px] bg-blue800 bg-[url('/src/assets/images/img-noise.png')];
  }
  .navBackground {
    @apply bg-transparent bg-gradient-to-b backdrop-blur-sm;
    background-image: linear-gradient(to bottom, rgba(26, 27, 51, 1), rgba(26, 27, 51, 0.1));
  }
  .navStyle {
    @apply fixed left-0 top-0 z-10 flex h-[88px] w-full items-center justify-between bg-blue900 px-10 py-6 text-white md:h-24 md:px-8 1440:top-10 1440:max-w-[1110px];
  }
  .checkboxIconStyle {
    @apply h-[30px] w-[30px] cursor-pointer border-[3px];
  }
  .cardHoverShadow {
    @apply rounded-3xl transition-shadow duration-300 hover:shadow-lg;
  }
  .cardHoverShadow:hover {
    box-shadow: 0px 0px 20px 6px rgba(234, 179, 8, 0.5);
  }
  .addPostShadow {
    @apply rounded-3xl bg-transparent transition-all duration-500 hover:shadow-lg;
  }
  .addPostShadow:hover {
    box-shadow: 0px 0px 20px 16px rgba(249, 238, 205, 0.15);
    @apply bg-[#f9eecd80]/15;
  }
  .inputStyle {
    @apply md:h-10 md:p-4;
  }
  .tag {
    @apply h-8 border-none bg-transparent p-2 text-[#FFD28F] outline-none transition-colors duration-1000 md:h-10 md:p-4;
  }
  .tag-container {
    @apply flex items-center justify-between gap-1 rounded-full border border-[#FFD28F]/70 bg-transparent p-1 focus-within:border-[#FF6F00];
  }
  .inputField {
    @apply h-8 rounded-md border border-transparent p-2 outline-none transition-colors duration-1000 md:h-10 md:p-4;
  }
  .darkInputField {
    @apply bg-[#1E1E3F] text-[#FFD28F] placeholder:text-[#FFD28F]/50 focus:border-[#FF6F00];
  }
  .search-input {
    @apply w-full rounded-2xl border-2 border-beige500 bg-transparent/20 p-3 text-[#FFD28F] outline-none focus:border-yellow300;
  }
  .auth-input {
    @apply rounded-full border border-[#917262] bg-transparent p-6 pr-16 outline-none transition-colors duration-1000;
  }
  .auth-input-field {
    @apply tracking-widest text-[#FFD28F] placeholder:text-[#FFD28F]/50 focus:border-[#FFEF88];
  }
  .submitBtn {
    @apply my-4 rounded-full bg-yellow400 p-4 text-center text-blue900 transition-transform duration-200 hover:bg-orange active:scale-95;
  }
  .tagBtn {
    @apply rounded-full border px-3 py-1 text-lg text-beige;
  }
  .selectedBtn,
  .tagBtn:hover {
    @apply bg-orange text-blue900;
    box-shadow: 0px 0px 20px 16px rgba(249, 238, 205, 0.15);
  }
  .homePageFoodCardImg {
    @apply h-full w-full cursor-pointer rounded-xl object-cover object-center transition-transform duration-200 hover:scale-[1.15];
  }
  .actionBtn {
    @apply border border-orange bg-transparent px-4 py-2 text-red transition-colors duration-1000;
  }
  .actionBtn:hover {
    @apply bg-orange text-blue900;
    box-shadow: 0px 0px 20px 16px rgba(249, 238, 205, 0.15);
  }
  .activeBtn {
    @apply flex items-center justify-center rounded-full bg-transparent transition-all duration-500;
  }
  .activeBtn:hover {
    @apply focus:scale-[1.2];
    box-shadow: 0px 0px 20px 16px rgba(249, 238, 205, 0.15);
  }
  .activeBtn:focus-visible {
    @apply scale-[1.2] ring-2 ring-orange ring-offset-2;
  }
  .activeIcon {
    @apply h-6 w-6;
  }
}
