@import url("https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: #1a1b33;
  }
}

@layer utilities {
  .archBackground {
    @apply rounded-tl-[150px] rounded-tr-[150px] bg-blue800 bg-[url('/src/assets/images/img-noise.png')];
  }
  .navBackground {
    @apply bg-transparent bg-gradient-to-b;
    background-image: linear-gradient(to bottom, rgba(26, 27, 51, 1), rgba(26, 27, 51, 0.5));
  }
  .navStyle {
    @apply fixed left-0 top-0 z-10 w-full;
  }
  .navContainer {
    @apply mx-auto flex h-[88px] max-w-[1110px] items-center justify-between px-10 py-6 text-white md:h-24 md:px-8;
  }
  .slideOverPanelStyle {
    @apply fixed right-0 top-0 z-20 h-screen w-[67%] max-w-[500px] overflow-y-auto bg-blue900/55 px-6 py-8 pl-8 text-white backdrop-blur-xl;
  }
  .borderYellow {
    @apply rounded-xl border border-yellow p-2 text-beige;
  }
  .miniCartModal {
    @apply fixed left-1/2 z-50 w-[60%] max-w-[500px] -translate-x-1/2 rounded-xl bg-orange900/40 p-4 ring-1 ring-yellow400/40 backdrop-blur-xl transition-all duration-700 ease-in-out;
  }
  .miniCartModalHidden {
    @apply top-[-100px] opacity-0;
  }
  .miniCartModalEnter {
    @apply top-0 opacity-100;
  }
  .miniCartModalStay {
    @apply top-[100px] opacity-100;
  }
  .checkedCountIcon {
    @apply h-[25px] w-[25px] cursor-pointer border-[2px];
  }
  .checkboxIconStyle {
    @apply h-[30px] w-[30px] cursor-pointer border-[3px];
  }
  .cardHoverShadow {
    @apply rounded-3xl transition-shadow duration-300 hover:shadow-lg;
  }
  .cardHoverShadow:hover {
    box-shadow: 0px 0px 20px 6px rgba(234, 179, 8, 0.5);
  }
  .addPostShadow {
    @apply rounded-3xl bg-transparent transition-all duration-500 hover:shadow-lg;
  }
  .addPostShadow:hover {
    box-shadow: 0px 0px 20px 16px rgba(249, 238, 205, 0.15);
    @apply bg-[#f9eecd80]/15;
  }
  .inputStyle {
    @apply md:h-10 md:p-4;
  }
  .tag {
    @apply h-8 border-none bg-transparent p-2 text-[#FFD28F] outline-none transition-colors duration-1000 md:h-10 md:p-4;
  }
  .tag-container {
    @apply flex items-center justify-between gap-1 rounded-full border border-[#FFD28F]/70 bg-transparent p-1 focus-within:border-[#FF6F00];
  }
  .inputField {
    @apply h-8 rounded-md border border-transparent p-2 outline-none transition-colors duration-1000 md:h-10 md:p-4;
  }
  .darkInputField {
    @apply bg-[#1E1E3F] text-[#FFD28F] placeholder:text-[#FFD28F]/50 focus:border-[#FF6F00];
  }
  .search-input {
    @apply w-full rounded-2xl border-2 border-beige500 bg-transparent/20 p-3 pl-10 text-[#FFD28F] outline-none focus:border-yellow300;
  }
  .auth-input {
    @apply rounded-full border border-[#917262] bg-transparent p-6 pr-16 outline-none transition-colors duration-1000;
  }
  .auth-input-field {
    @apply tracking-widest text-[#FFD28F] placeholder:text-[#FFD28F]/50 focus:border-[#FFEF88];
  }
  .submitBtn {
    @apply my-4 rounded-full border-4 border-beige300 bg-yellow400 p-4 text-center text-blue900 transition-transform duration-200 hover:bg-orange active:scale-95;
  }
  .submitBtn:hover {
    box-shadow: 0px 0px 20px 16px rgba(255, 140, 0, 0.2);
  }
  .cancelBtn {
    @apply my-4 rounded-full border-4 border-blue100 bg-blue-400 p-4 text-center text-blue500 transition-transform duration-200 hover:bg-blue-500 active:scale-95;
  }
  .cancelBtn:hover {
    box-shadow: 0px 0px 20px 16px rgba(140, 200, 255, 0.2);
  }
  .deleteBtn {
    @apply my-4 rounded-full border-4 border-pink bg-red p-4 text-center text-white transition-transform duration-200 hover:bg-rose-600 active:scale-95;
  }
  .deleteBtn:hover {
    box-shadow: 0px 0px 20px 16px rgba(255, 70, 0, 0.2);
  }
  .tagBtn {
    @apply rounded-full border px-3 py-1 text-lg text-beige;
  }
  .selectedBtn,
  .tagBtn:hover {
    @apply bg-orange text-blue900;
    box-shadow: 0px 0px 20px 16px rgba(249, 238, 205, 0.15);
  }
  .homePageFoodCardImg {
    @apply h-full w-full cursor-pointer rounded-xl object-cover object-center transition-transform duration-200 hover:scale-[1.15];
  }
  .actionBtn {
    @apply border border-orange bg-transparent px-4 py-2 text-red transition-colors duration-1000;
  }
  .actionBtn:hover {
    @apply bg-orange text-blue900;
    box-shadow: 0px 0px 20px 16px rgba(249, 238, 205, 0.15);
  }
  .activeBtn {
    @apply flex items-center justify-center rounded-full bg-transparent transition-all duration-500;
  }
  .activeBtn:hover {
    @apply focus:scale-[1.2];
    box-shadow: 0px 0px 20px 16px rgba(249, 238, 205, 0.15);
  }
  .activeBtn:focus-visible {
    @apply scale-[1.2] ring-2 ring-orange ring-offset-2;
  }
  .activeIcon {
    @apply h-6 w-6;
  }
  .cartRecipeName {
    @apply mb-8 flex items-end gap-x-2 font-chocolateClassicalSans text-2xl font-semibold text-yellow400 underline transition-colors duration-500;
  }
  .cartRecipeName:hover {
    @apply text-orange;
  }
  .miniCartRecipeName {
    @apply mb-2 flex items-end justify-start gap-x-2 font-chocolateClassicalSans text-xl font-semibold text-yellow400 underline transition-colors duration-500 md:text-2xl;
  }
  .miniCartRecipeName:hover {
    @apply text-orange;
  }
}
